{% extends "admini/adminBase.html" %}
{% load crispy_forms_tags %}
{% block new %}
<section class="content">

  <div class="box box-primary">
    <div class="box-header">
      <h3 class="box-title">Nouvel Achat</h3>
    </div><!-- /.box-header -->
    <!-- form start -->
    <form role="form" action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="box-body">
        {{ form|crispy }}
      </div>
      <div class="box-footer">
        <button type="submit" class="btn btn-primary">Enregistrer</button>
      </div>
    </form>
  </div><!-- /.box -->

</section><!-- /.content -->

{% endblock new %}
